<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Texas Holdem Game</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.css" th:href="@{/css/fonts.css}"/>
    <script th:inline="javascript">
        var tableJson = [[${tableJson}]];
        var cardBackSrc = "/images/red-back.png";
        var tableJsonDecoded = JSON.parse(tableJson);
    </script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>
<body>
<div class="table-container">
    <img class="logo" src="../static/images/logo.png" th:src="@{/images/logo.png}">
    <div class="pot">POT: $<span>0</span></div>
    <div id="start-game" class="disabled">Start Game</div>
    <div id="start-new-game" >Start New Game</div>
    <div class="community-cards">
        <div class="cards">
            <img id="card1" src="../static/images/card-place-holder.png" th:src="@{/images/card-place-holder.png}">
            <img id="card2" src="../static/images/card-place-holder.png" th:src="@{/images/card-place-holder.png}">
            <img id="card3" src="../static/images/card-place-holder.png" th:src="@{/images/card-place-holder.png}">
            <img id="card4" src="../static/images/card-place-holder.png" th:src="@{/images/card-place-holder.png}">
            <img id="card5" src="../static/images/card-place-holder.png" th:src="@{/images/card-place-holder.png}">
        </div>
    </div>
    <div class="table-top">
        <div class="center-table"></div>
    </div>
    <div class="table-border">
        <div class="center-border"></div>
    </div>
    
    <div id="player1" class="player-container available" data-index="">
        <div class="player-join">
            Join Game
        </div>
        <div class="active-player">
            <div class="username"></div>
            <div class="balance"></div>
            <div class="current-bet">Current Bet: <span></span></div>
            <div class="cards">
                <img class="left-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
                <img class="right-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
            </div>
            <div class="winner-badge">
                <div class="burst wrap">
                    <div class="burst">
                        <span>Winner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="player2" class="player-container available" data-index="">
        <div class="player-join">
            Join Game
        </div>
        <div class="active-player">
            <div class="username"></div>
            <div class="balance"></div>
            <div class="current-bet">Current Bet: <span></span></div>
            <div class="cards">
                <img class="left-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
                <img class="right-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
            </div>
            <div class="winner-badge">
                <div class="burst wrap">
                    <div class="burst">
                        <span>Winner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="player3" class="player-container available" data-index="">
        <div class="player-join">
            Join Game
        </div>
        <div class="active-player">
            <div class="username"></div>
            <div class="balance"></div>
            <div class="current-bet">Current Bet: <span></span></div>
            <div class="cards">
                <img class="left-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
                <img class="right-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
            </div>
            <div class="winner-badge">
                <div class="burst wrap">
                    <div class="burst">
                        <span>Winner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="player4" class="player-container available" data-index="">
        <div class="player-join">
            Join Game
        </div>
        <div class="active-player">
            <div class="username"></div>
            <div class="balance"></div>
            <div class="current-bet">Current Bet: <span></span></div>
            <div class="cards">
                <img class="left-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
                <img class="right-card" src="../static/images/red-back.png" th:src="@{/images/red-back.png}">
            </div>
            <div class="winner-badge">
                <div class="burst wrap">
                    <div class="burst">
                        <span>Winner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dealer-chip">DEALER</div>
    <div class="small-blind-chip"><span>SMALL BLIND</span></div>
    <div class="big-blind-chip"><span>BIG BLIND</span></div>

    <div class="player-action-container">
        <div class="button-container">
            <div id="fold" class="button">Fold</div>
            <div id="call" class="button">Call $<span></span></div>
            <div id="check" class="button">Check</div>
            <div id="bet" class="button">Bet</div>
            <div id="bet-amount-container">
                <label for="betAmount">Amount $</label>
                <input id="betAmount" name="betAmount" type="text">
                <div class="button">Place Bet</div>
            </div>

        </div>
    </div>
</div>


<div class="modal-container"></div>
<div class="new-player-modal">
        <div class="modal-close">X</div>
    <form id="player-join-form" action="#" th:action="@{/ajax/player/join}">

        <h3>New Player</h3>

        <div>
            <label for="username">username</label>
            <input id="username" name="username" type="text">
        </div>

        <div>
            <label for="balance">balance</label>
            <input id="balance" name="balance" type="text">
        </div>

        <div id="player-join-submit" class="button">Submit</div>

    </form>
</div>
<div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
</div>
<div class="next-player-turn">
    <h1>username</h1>
    <h3>It is your turn.</h3>
    <div class="button">Continue</div>
</div>
<script type="text/javascript" src="../static/js/playerActions.js" th:src="@{/js/playerActions.js}"></script>
</body>
</html>