BODY {margin: 0;padding: 0;font-family: "proxima-nova", sans-serif;}
.table-container {position: relative;width: 900px;height: 500px;margin: 40px auto;}
.table-container div#start-game {display: block;position: absolute;width: 120px;height: 40px;text-align: center;background: #D80D0D;border: solid 1px #333;line-height: 40px;top: 50%;left: 50%;z-index: 1000;color: #fff;cursor: pointer;margin-top: -20px;margin-left: -50px;}
.table-container div#start-game.disabled {cursor: not-allowed;background: #8c8c8c;opacity: .65;}
.table-container .table-top {display: block;position: absolute;top: 30px;left: 30px;width: 840px;height: 440px;margin: 0 auto;Z-INDEX: 10;}
.table-container .table-top:before,.table-container .table-top:after{content: "";background: #136c15;width: 440px;height: 440px;border-radius: 250px;position: absolute;top: 0;}
.table-container .table-top:before{left: 0;}
.table-container .table-top:after{right: 0;}
.table-container .table-top .center-table {display: block;width: 400px;height: 440px;margin: 0 auto;background: #136c15;}
.table-container .table-border {display: block;width: 900px;height: 500px;margin: 0 auto;z-index: 1;}
.table-container .table-border:before,.table-container .table-border:after {content: "";width: 500px;height: 500px;background: black;border-radius: 250px;position: absolute;top: 0;}
.table-container .table-border:before {left:0;}
.table-container .table-border:after {right:0;}
.table-container .table-border .center-border {display: block;width: 400px;height: 500px;margin: 0 auto;background: black;}
.player-action-container {display: block;padding: 25px 50px;background: #f3f4f6;margin: 0 auto;text-align: center;border-top: solid 1px #cacaca;}
.player-action-container h2 {font-size: 28px;font-weight: 400;}
.player-action-container h2:after {content: "";display: block;border-bottom: solid 1px #444;width: 120px;margin: 7px auto 0 auto;}
.player-action-container h3 {font-weight: normal;font-size: 18px;}
.button-container {display: flex;justify-content: space-around;margin: 30px auto;max-width: 700px;}
.button {background: #414c5c;padding: 10px 15px;border-radius: 5px;color: #fff;cursor: pointer;}
.modal-container {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #000000a8;z-index: 9999;display: none;}
.new-player-modal {position: absolute;width: 300px;height: 200px;padding: 50px;background: #fff;top: 50%;left: 50%;margin: -200px 0 0 -150px;display: none;z-index: 9999;}
.new-player-modal .modal-close {position: absolute;top: 20px;right: 20px;font-size: 16px;line-height: 20px;font-weight: 100;text-align: center;background: #000000;width: 20px;height: 20px;color: #fff;cursor: pointer;}
.new-player-modal > form > h3 {text-align: center;font-size: 22px;font-weight: 500;}
.new-player-modal > form > div {width: 100%;float: left;margin: 10px 0;}
.new-player-modal > form > div > label {float: left;}
.new-player-modal > form > div > input {float: right;}
.new-player-modal > form > .button {width: 100px;float: right;background: #414c5c;padding: 5px;color: #fff;cursor: pointer;border: solid 1px #444;text-align: center;}
.player-container {position: absolute;width: 140px;z-index: 999;background: url("/images/chip-bg.png");background-size: 100px;background-position: 20px 0;background-repeat: no-repeat;}
.player-container .player-join,
.player-container .active-player {margin-top: 70px;text-align: center;background: #000000b8;color: #fff;padding: 10px;cursor: pointer;position: relative;}
.player-container .player-join {display: block;}
.player-container .active-player {display: none;}
.player-container .active-player .username {font-style: italic;padding: 5px 0;border-bottom: solid 1px #888;}
.player-container .active-player .balance {padding: 10px 0;}
.player-container .active-player .cards > img {width: 48px;}
div#player1 {top: 40px;right: 40px;}
div#player2 {bottom: 40px;right: 40px;}
div#player3 {bottom: 40px;left: 40px;}
div#player4 {top: 40px;left: 40px;}
div#player1 .active-player .cards,
div#player2 .active-player .cards {position: absolute;top: -30px;left: -110px;}
div#player3 .active-player .cards,
div#player4 .active-player .cards {position: absolute;top: -30px;right: -110px;}
.sk-folding-cube{width:40px;height:40px;position: absolute;top: 50%;left: 50%;margin-top: -70px;margin-left: 27px;-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg);display: none;z-index: 10006;}
.sk-folding-cube .sk-cube{float:left;width:50%;height:50%;position:relative;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.sk-folding-cube .sk-cube:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color: #0084ff;-webkit-animation:sk-foldCubeAngle 2.4s infinite linear both;animation:sk-foldCubeAngle 2.4s infinite linear both;-webkit-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%;}.sk-folding-cube .sk-cube2{-webkit-transform:scale(1.1) rotateZ(90deg);transform:scale(1.1) rotateZ(90deg)}
.sk-folding-cube .sk-cube3{-webkit-transform:scale(1.1) rotateZ(180deg);transform:scale(1.1) rotateZ(180deg)}
.sk-folding-cube .sk-cube4{-webkit-transform:scale(1.1) rotateZ(270deg);transform:scale(1.1) rotateZ(270deg)}
.sk-folding-cube .sk-cube2:before{-webkit-animation-delay:.3s;animation-delay:.3s}
.sk-folding-cube .sk-cube3:before{-webkit-animation-delay:.6s;animation-delay:.6s}
.sk-folding-cube .sk-cube4:before{-webkit-animation-delay:.9s;animation-delay:.9s}
@-webkit-keyframes sk-foldCubeAngle{
    0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}
    25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}
    100%,90%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}
}
@keyframes sk-foldCubeAngle{
    0%,10%{-webkit-transform:perspective(140px) rotateX(-180deg);transform:perspective(140px) rotateX(-180deg);opacity:0}
    25%,75%{-webkit-transform:perspective(140px) rotateX(0);transform:perspective(140px) rotateX(0);opacity:1}
    100%,90%{-webkit-transform:perspective(140px) rotateY(180deg);transform:perspective(140px) rotateY(180deg);opacity:0}
}